.thumbsContainer {
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

.thumb {
  display: inline-flex;
  border: '1px solid #eaeaea';
  margin: 0 auto;
  width: 500px;
  height: 300px;
  box-sizing: border-box;
  position: absolute;
  left: 38%;
  top: 25%;
}

.thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
}

.labels {
  padding-top: 35%;
  padding-left: 25%;
}
