body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.thumbsContainer {
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

.thumb {
  display: inline-flex;
  border: "1px solid #eaeaea";
  margin: 0 auto;
  width: 500px;
  height: 300px;
  box-sizing: border-box;
  position: absolute;
  left: 38%;
  top: 25%;
}

.thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
}

.labels {
  flex-direction: row;
  width: 30px;
  height: 100px;
  padding: 20px;
  position: absolute;
  top: 60%;
  left: 30%;
  margin: -70px 0 0 -170px;
  font-size: x-large;
}

.dropText {
  margin-top: 15px;
}
